@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

body{
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    margin: 0;
    margin-top: 1em;
}

@keyframes Gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

header{
    font-size: 50px;
    margin-bottom: 2.5em;
    margin-top: 0.75em;
}

letter{
    border-style: solid;
    border-width: 1.5px 1.5px;
    font-size: 50px;
    padding: 5px;
}
game{
    display:block;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: auto;
    background: white;
    width: 70%;
    height: 100%;
    position:relative;
    border-radius:10px;
    overflow:hidden;
}
.letter_body{
    background-color:red;
}
letter:hover{
    color:blue;
}
.letter {
    display: inline-block;
    color: transparent;
    border-bottom: 5px solid blue;
    margin: 0 10px;
    font-size: 50px;
    padding: 10px;
    transition: .5s;
    text-transform: uppercase;
}

.letter_show {
    display: inline-block;
    color: blue;
    border-bottom: 5px solid blue;
    margin: 0 10px;
    font-size: 50px;
    padding: 10px;
    transition: .5s;
    text-transform: uppercase;
    animation: letteranim .3s ease;

}
@keyframes letteranim {
  50% {
    transform: translateY(-5px) scale(1.05);
  }
}

#alpha{
    margin: 2em auto;
    font-size: 50px;
}

#score{
    margin: 2em auto;
    margin-bottom: 50px;
    font-size: 50px;
}

#done{
    color:gray;
}

#right{
    margin: 2em auto;
    font-size: 50px;
}

img{
    width: 50px;
    height: 50px;
    display: inline-block;
}