@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

body{
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    background-image: url(bg.gif);
    margin: 0;
    margin-top: 1em;
    position: fixed;
    top: 0;left:0;right:0;bottom:0;
}


header{
    font-size: 40px;
    margin-bottom: 2.5em;
    margin-top: 0.75em;
}

letter{
    border-style: solid;
    border-width: 1.5px 1.5px;
    font-size: 40px;
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
}
game{
    display:block;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: auto;
    background: white;
    width: 90%;
    height: 90%;
    position:relative;
    border-radius:10px;
    overflow:hidden;
}
.letter_body{
    background-color:red;
}
letter:hover{
    color: blue;
}
.letter {
    display: inline-block;
    color: transparent;
    border-bottom: 5px solid blue;
    margin: 0 10px;
    font-size: 40px;
    padding: 10px;
    transition: .5s;
    text-transform: lowercase;
}

.letter_show {
    display: inline-block;
    color: blue;
    border-bottom: 5px solid blue;
    margin: 0 10px;
    font-size: 40px;
    padding: 10px;
    transition: .5s;
    animation: letteranim .3s ease;
    text-transform: lowercase;
}
@keyframes letteranim {
  50% {
    transform: translateY(-5px) scale(1.05);
  }
}

#alpha{
    margin: 2em auto;
    font-size: 40px;
}

#score{
    margin: 2em auto;
    margin-bottom: 50px;
    font-size: 40px;
}

#done{
    color:gray;
}

#right{
    margin: 2em auto;
    font-size: 40px;
}

img{
    width: 50px;
    height: 50px;
    display: inline-block;
}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}